1、始终用中文，并且函数添中文注释
2、始终给我更好的建议
3、始终给我推荐更有性价比的插件
4、我们要短期内快速完成这个项目
5、新增文件之前先看看项目里面是否已经有了需要的文件或者不是同名但是功能相同的文件
6、先做一个简单的调试的功能让一个工号拨打另外一个工号可以做asr识别
7、mysql redis freeswitch我都自己部署，你不需要操作
8、我关闭了宿主机的防火墙
9、宿主机是windows11尽量不要运行组合命令，多命令分开执行
10、我们使用科大讯飞的ASR




最终目的：我登录一个工号模拟客户，一个工号模拟客服，客服给我打电话，把我说的话实时转化成文字打印到控制台或者日志显示出来



科大讯飞api：
APPID：c0de4f24
APISecret：NWRhZDBkNzA5ZDQxNGMzYmQ1NWMwMWNh
APIKey：51012a35448538a8396dc564cf050f68

语音听写（流式版）WebAPI 文档
#接口说明
https://www.xfyun.cn/doc/asr/voicedictation/API.html

我下载了一个demo在/iat_ws_go_demo


fs的服务器地址是192.168.11.180 外网ip地址111.61.208.207 8021 ClueCon
mysql的地址信息是root@127.0.0.1 ai_dialer

如果要运行go run main.go我手动运行就可以了别乱改我的端口两边都要调很麻烦